@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body {
	font-family: 'Indie Flower' , cursive;
	overflow-x: hidden;
}
#content {
	padding: 15px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.slide a {
	color: #000;
	font-size: 36px;
}
.nav .close {
	position: absolute;
	top: 8px;
	right: 22px;
	margin-left: 50px;
	font-size: 30px;
	color: #ccc;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a.navitems {
	display: flex;
	flex-direction: row;
	padding: 20px 30px;
	font-size: 30px;
	text-decoration: none;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}
.nav a.item {
	display: flex;
	flex-direction: row;
	padding: 20px 30px;
	font-size: 16px;
	text-decoration: none;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}
.nav a.item:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .icon {
	padding-right: 10px;
	font-size: 35px;
}

