@import url('https://fonts.googleapis.com/css?family=Bungee');


body {
	font-family: 'Bungee' , cursive;
	overflow-x: hidden;
	background-color: #733987;
	color: #FFFFFF ;
}
header {
	position: center;
	
}
footer {
	margin-left: 100px;
}
footer a{
	margin-left: 60px;
	font-size: 35px;
	text-decoration: none;
	color: #FFFFFF;
}
footer a:hover{
	color: #F99CD0;
	transition: 1.5s;
}
h1 {
	font-size: 70px;
	position: center;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 160px;
	text-align: center;
}
p {
	letter-spacing: 2px;
	position: center;
	margin-left: 10px;
	text-align: center;
	font-size: 22px;
}
iframe {
	margin-left: 480px;

}
#sitecontent {
	margin-top: 40px;
}
#sitecontent a {
	font-size: 21px;
	text-decoration: none;
	color: #D8BFD8;
}
#sitecontent a:hover {
	font-size: 23px;
	color: #FFC0CB;
	transition: 1s;
}
img {
	width: 10%;
	height: auto;
	float: right;
	margin-top: 0px;
}
ul {
	list-style: none;
}
ul li p {
	font-size: 13px;
	clear: both;
	margin: 0; 
	line-height: 20%;
}
ul li img {
	width: 20%;
	height: auto;
	border-right: 1px solid #000000;
}
.center {
	width: 400px; 
	height: auto;
}

.nav .logo {
	width: 250px;
	height: 250px;
}
.slide a {
	position: fixed;
	color: #FFFFFF;
	font-size: 38px;
	
}
.nav .close {
	position: absolute;
	top: 8px;
	right: 22px;
	margin-left: 50px;
	font-size: 26px;
	color: #ccc;
}
.nav {
	height: 95%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: scroll;
	overflow-y: scroll;
	padding-top: 40px;
	padding-bottom: 10px;
	transition: 0.7s;
}
.nav::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}
.nav i.navitems {
}
.nav a.navitems {
	display: flex;
	flex-direction: row;
	padding: 18px 20px;
	font-size: 14px;
	text-align: right;
	text-decoration: none;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}
.nav a.item {
	display: flex;
	flex-direction: row;
	padding: 18px 20px;
	font-size: 9px;
	text-align: right;
	text-decoration: none;
	color: #ccc;
	border-top: 1px solid #D8D8D8;
}
.nav a.navitems:hover {
	color: #000000;
	transition: 2s;
	background: #ffffff;
	font-size: 16px;
}
.nav a.item:hover {
	color: #F5A9F2;
	transition: 0.4s;
	background: #000000;
	font-size: 11px;
}
.nav .icon {
	padding-right: 10px;
	font-size: 35px;
}
